/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #181825; /* Cor de fundo específica */
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo {
    position: absolute;
    top: 10px;
    left: 25px;
}

.logo img {
    height: 85px; /* Aumente o tamanho conforme necessário */
    width: 85px; /* Aumente o tamanho conforme necessário */
    margin-right: 15px;
}


nav.menu {
    position: absolute;
    top: 90px; /* Ajuste conforme necessário */
    left: 50px; /* Ajuste conforme necessário */
    display: flex;
    flex-direction: column;
}

.menu-item {
    color: #CDD6F4;
    margin: 15px 0;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    font-size: 20px;
}

.menu-item:hover {
    font-size: 30px;
    color: #98b0FF;
    text-decoration: none;
}

.introduction {
    text-align: center;
    padding: 5px;
    margin-top: 5px;

}

.introduction h2 {
    font-size: 40px;
    color: #CDD6F4;
    margin-top: -5px;
    margin-left: 300px;
}

.introduction .highlight {
    color: #74c7ec;
}

.introduction p {
    font-size: 17px;
    color: #CDD6F4;
    line-height: 1.6;
    max-width: 870px;
    margin: 0 auto;
    text-align: left;
    padding: 0 20px;
    position: relative;
    left: 145px;
}

.introduction .highlight-link {
    color: #74c7ec;
    text-decoration: underline;
}

.introduction .highlight-link-github {
    color: #74c7ec;
    text-decoration: underline;
}

.introduction .highlight-link-blog {
    color: #74c7ec;
    text-decoration: underline;
}

.introduction h3 {
    font-size: 25px;
    color: #CDD6F4;
    line-height: 1.6;
    text-align: left;
    position: relative;
    left: 365px;
}

.topics-list {
    list-style: disc;
    padding-left: 40px;
    text-align: left;
    position: relative;
    left: 350px;
}

.topics-list li {
    margin-bottom: 15px;
    font-size: 17px;
    color: #CDD6F4;
}

.topics-list .highlight-contact {
    color: #74c7ec;
    text-decoration: underline;
}

.topics-list .highlight-discord-server {
    color: #74c7ec;
    text-decoration: underline;
}

.topics-list .highlight-mycontact {
    color: #74c7ec;
    text-decoration: underline;
}

.language-selector {
    font-size: 20px;
    color: #CDD6F4;
    position: relative;
    padding-left: px;
    padding-top: px;
}

.menus-traducao * {
    box-sizing: border-box;
}

.dropdown {
    min-width: 15em;
    position: relative;
    margin: 2em;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background: #2a2f3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
    background: #323741;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu-2 {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu-2 li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu-2 li:hover {
    background: #2a2d35;
}

.active {
    background: #23242a;
}

.menu-2-open {
    display: block;
    opacity: 1;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
